<div class="not-found row align-items-center">
    <div class="not-found__img col-md-12 d-flex justify-content-center">
        <div class="not-found__img__content ">
            <img src="assets/image/404.svg" alt="">
        </div>
    </div>
    <div class="not-found__text col-md-12">
        <h4>Sorry page not Found</h4>
    </div>
    <div class="not-found__buttons col-12 d-flex justify-content-center mt-2">
        <a [routerLink]="[ '/home' ]">
            <button class="large button">
                Go Home
            </button>
        </a> 
    </div>
</div>
