<div class="main p-2 row">
    <div class="" *ngFor="let item of allNews">
        <div class="main__title col-12">
            <h4> {{ item.title }} </h4>
        </div>
        <div class="main__social mt-2 col-12 d-flex justify-content-between">
            <div class="col-md-9 p-0">
                <span>Wednesday, November 2020 18:30</span>
            </div>
            <div class="col-md-3  d-flex justify-content-between">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        <div class="main__image mt-3 d-flex justify-content-center">
            <div class="main__image__content">
                <img src="assets/image/2.png" alt="">
            </div>
        </div>
    
        <div class="main__description mt-4">
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Placeat possimus non quos d
                olorem vel porro natus sapiente doloribus 
                consectetur exercitationem q
                uis consequuntur, quidem rem au
                tem, quisquam quasi quae consequatur m
                aiores!</p>
        </div>

    </div>
</div>