@import 'src/assets/variables'; 

.header {
    &__headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-weight: bolder;
            color: $dark-grey;
            font-size: 1.2rem;
            margin: 0;
            font-family: 'Lora', serif;

        }
        
        span {
            font-size: .875rem;
            color: $dark-grey;
            // font-weight: bold;
        };
    }

    &__image {
        height: 9rem;
        // width: 10rem;
        img {
            width: 100%;
            height: 100%;
        }

        h4 {
            font-family: 'Lincoln';
            font-size: 5.5rem;

            // @media (max-width: 585px ) {
            //     font-size: 5rem;
            // }
            // @media (max-width: 3205px ) {
            //     font-size: 3.3rem;
            // }
        }
        .red {
            color: $red;
            font-size: 5.5rem;
          

        }
    }

    &__follow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p {
            font-weight: bold;
            color: $dark-grey;
            font-size: .875rem;
            margin: 0;
            // border: 1px solid transparent;
            padding: .4rem;
            

        }  

        .social {
            color: $black;
            font-size: .775rem;
            // padding-right: .4rem;
            font-weight: bold;
            padding: .4rem;
            text-decoration: none;
            border: 1px solid transparent;
          


            &:hover {
                transition: .3s;  
                border: 1px solid $black;
            }
        }

        span {
            color: $black;
            font-size: .775rem;
            padding-right: .4rem;
            font-weight: bold;
            cursor: pointer;
            padding: .4rem;

        }
    }

    border-bottom: 3px solid black;
}