img {
    width: 100%;
    height: 15rem;
    border: 1px solid transparent;
    border: .5rem;
   
}


::ng-deep .carousel-inner {
    border-radius: .5rem;
    height: 100%;
}

::ng-deep.carousel-item {
    display: block !important;
    z-index: 1;
    position: absolute;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    opacity: 0;
    visibility: hidden;
}
::ng-deep.carousel-item.active {
    position: relative;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    visibility: visible;
    opacity: 1;
}

.slider {
    &__weather {
        background-color: #e8e8e8;
        border: 2px solid transparent;
        border-radius: .5rem;
    }
}