<div class="slider">
    <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let img of images; index as i">
          <div class="carousel-caption">
            <h3> {{ img.title }} </h3>
          </div>
          <a  target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
              <img *ngIf="img.file.path" [src]="img.file.path" alt="My image {{i + 1}} description">
              <!-- <img src="assets/image/placeHolder.png" alt="My image {{i + 1}} description"> -->
            </div>
          </a>
        </ng-template>
      </ngb-carousel>
</div>
  
  