img {
    width: 100%;
    height: 15rem;
    border: 1px solid transparent;
    border: .5rem;
   
}


::ng-deep .carousel-inner {
    border-radius: .5rem;
    height: 100%;
    width: 100%;
    outline: none;
}


//  animation 11 
::ng-deep {
  .carousel-item {
    transition: opacity 1s ease!important;
    position: absolute!important;
    display: block!important;
    opacity: 0;
 }

 .carousel-item.active {
    position: relative!important;
    opacity: 1;
  }
}; 


ngb-carousel {
  width: inherit;
  height: inherit;
  outline: none;
}


.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
  position: absolute;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
   z-index: 20;
}


.carousel-control-next {
   z-index: 20;
}

.carousel-indicators{
  z-index: 20;
}

.slider {
    &__weather {
        background-color: #e8e8e8;
        border: 2px solid transparent;
        border-radius: .5rem;
    }
}