<div class="about-us row">
    <div class="about-us__content p-3 pb-5 col-md-12">
        <div class="about-us__content__title">
            <h1>About us</h1>
        </div>
        <div class="about-us__content__description mt-4 col-md-12">
            <p>The Georgian Messenger was first published on February 25, 1919, during the time of the first Georgian independent democratic republic (1918-1921). On February 25, 1921, Russian Bolsheviks occupied Georgia. The Editor-in-Chief of the newspaper at that time was Elisabeth Orbeliani. The original Georgian Messenger was a weekly newspaper and only 13 issues were ever published.
                The newspaper was revived in October 1990 after Georgia regained its independence from the Soviet Union. The Georgian Messenger was then published irregularly until August 1993 under Irakli Kenchoshvili.
                The Editor-in-Chief of The Messenger is Zaza Gachechiladze, Ph.D, a specialist in English literature and the author of books on Dylan Thomas and Geoffrey Chaucer. Before the Messenger, he founded and was Editor-in-Chief of the English language Georgian Times from 1994-2001.
                The Messenger's subscribers include foreign embassies and governments, NGOs, top hotels, airlines and other businesses, as well as home readers. It is distributed in more than twenty countries throughout the world including the United States, Britain, Germany, Russia, Ukraine, Holland, France, Iran and Turkey.
                Among the newspaper's contributors are leading experts in political science, economics and Georgian culture. The Messenger's reporters work throughout Georgia to cover breaking news stories and explain their significance, providing a vital source of information both for those living here and those planning to visit Georgia for the first time.
                The newspaper's coverage includes Georgia and the South Caucasus, as well as the broader post-Soviet space.
                The Messenger's trusted reporting is regularly cited by analysts with the Jamestown Foundation and Radio Free Europe / Radio Liberty among others, and its editors have been interviewed by BBC World, the Guardian, NewsHour with Jim Lehrer and other leading news outlets.
                </p>
        </div>
        <div class="about-us__content__staff col-md-12 mt-5">
            <div class="about-us__content__staff__title d-flex justify-content-center col-12">
                <h4>The Messenger Staff</h4>
            </div>
            <div class="about-us__content__staff__img mt-4 mb-3 col-12">
                <div class="about-us__content__staff__img__content">
                    <img src="assets/image/team.svg" alt="team">
                </div>
            </div>
            <div class="about-us__content__staff__description col-md-12 d-flex justify-content-center row align-items-center">
                <div class="col-md-12 mt-4">
                    <p>Founded by Prof. Zaza Gachechiladze</p>
                </div>
               
                <div class="row staff-border justify-content-center mt-4 w-100 align-items-center " >
                    <div class="about-us__content__staff__staff col-md-6" style="
                        text-align: center;
                        border-right: 2px solid black;">
                        <div class="col-md-12">
                            <h4>Tamar Gachechiladze</h4>
                            <p>Publisher</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Mariam Mchedlidze</h4>
                            <p>Editor-in-Chief</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Levan Abramishvili</h4>
                            <p>Executive Editor</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Nika Gamtsemlidze</h4>
                            <p>Staff Journalist</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Mariam Chanishvili</h4>
                            <p>Reporter</p>
                        </div>
                    </div>
    
    
                    <div class="about-us__content__staff__staff col-md-6" style="text-align: center;">
                        <div class="col-md-12">
                            <h4>Nino Metreveli</h4>
                            <p>Director</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Khatuna Gogichaishvili</h4>
                            <p>Layout Designer, Photographer</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Liza Mchedlidze</h4>
                            <p>Layout Designer</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Natalia Kochiashvili</h4>
                            <p>Correspondent</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
