<div class="ads col-12 p-0 mt-4 pb-5">
    <div class="ads__description mt-3 p-3 col-12">
        <h4>Advertisements</h4>
    </div>
    <div class="ads__img col-12 mt">
        <div class="ads__img__content ">
            <img  appLazyLoad src="assets/image/webuko-banner.png" alt="my-image">
        </div>
    </div>
    <div class="ads__img col-12 mt-3">
        <div class="ads__img__content ">
            <img appLazyLoad src="assets/image/webuko-banner.png" alt="my-image">
        </div>
    </div>
    <div class="ads__img col-12 mt-3">
        <div class="ads__img__content ">
            <img appLazyLoad src="assets/image/webuko-banner.png" alt="my-image">
        </div>
    </div>
    <div class="ads__img col-12 mt-3">
        <div class="ads__img__content ">
            <img appLazyLoad src="assets/image/webuko-banner.png" alt="my-image">
        </div>
    </div>
   
</div>
