<div class="ads row p-0 mt-4 pb-5">
    <div class="ads__description mt-3 p-3 col-12">
        <h4>Commercials</h4>
    </div>
    <div class="ads__img col-12 mt-4">
        <div class="ads__img__content p-1">
            <img src="assets/image/webuko.jpeg" alt="my-image">
        </div>
    </div>
    <div class="ads__img col-12 mt-4">
        <div class="ads__img__content p-1">
            <img src="assets/image/webuko.jpeg" alt="my-image">
        </div>
    </div>
    <div class="ads__img col-12 mt-4">
        <div class="ads__img__content p-1">
            <img src="assets/image/webuko.jpeg" alt="my-image">
        </div>
    </div>
    <div class="ads__img col-12 mt-4">
        <div class="ads__img__content p-1">
            <img src="assets/image/webuko.jpeg" alt="my-image">
        </div>
    </div>
   
</div>
