@import 'src/assets/variables'; 

.main-navigation {
    border-bottom: 2px solid $grey;
    z-index: 22;
    &__item {
        a {
            font-weight: bold;
            color: $black;
            font-size: .975rem;
            text-decoration: none;
            padding-bottom: .78rem;
            border-bottom: 2px solid transparent;
            white-space: normal;
            white-space: nowrap;
    
            
    
            &:hover {
                border-bottom: 2px solid $black !important;
        
            }
            
        }
        @media (max-width: 992px ) {
            display: none;
        }; 
    }

   


#menuToggle
{
  display: none;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;

  @media (max-width: 991px ) {
    display: block;
}; 
}

#menuToggle a
{
  display: none;
  text-decoration: none;
  color: #232323;
  z-index: 9;
  transition: color 0.3s ease;
  @media (max-width: 991px ) {
    display: block;
};
}


#menu
{
  // display: none;
  position: absolute;
  border: 3px solid black;
  border-radius: .8rem;
  left: -50%;
  width: 300px;
  margin: -100px 0 0 -179px;
  padding: 30px;
  padding-top: 25px;
  
  // background: #ededed;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  

  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

//   @media (max-width: 991px ) {
//     display: block;
 
// }; 
  
}

#menu li
{
  // display: none;
  padding: 20px 0;
  font-size: 19px;
  text-align: right;
  font-weight: bold;
  color: white;
  text-align: center;
  overflow-y: auto;

  @media (max-width: 991px ) {
    display: block;
};
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  // display: none;
  transform: none;
  @media (max-width: 991px ) {
    display: block;
};
}


@media (max-width: 992px ) {
    height: 3rem;
}; 

}

.active {
    border-bottom: 2px solid $black !important;
}

.active-for-mobile {
  border: 2px solid white;
}
 
a {
  z-index: 23;
}

#burger {
  display: none;
  @media (max-width: 992px) {
      display: block;
  }
}