<div class="main-navigation pt-2 pb-2 row">
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
    </div>
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/news' ]" routerLinkActive="active" >News</a>
    </div>
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/politics' ]" routerLinkActive="active">Politics</a>
    </div>
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/culutre-lifystyle' ]" routerLinkActive="active">Culture & Lifestyle</a>
    </div>
    <div class="main-navigation__item col-md-2" style="text-align: center;">
        <a [routerLink]="[ '/economy' ]" routerLinkActive="active" >Economy</a>
    </div>
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/contact' ]" routerLinkActive="active" >Contact</a>
    </div>  
    
<div class="nav" style="z-index: 69;">
    <i class=" ml-3 fas fa-bars" id="burger" (click)="toggleMenu('open')" 
    *ngIf="!isMenuActive" 
    style="font-size: 2rem; cursor: pointer; "></i>

    <nav role="navigation" style = " 
                                    position: fixed;
                                    top: 1.5rem;
                                    left: 50%;"
                                     >
        <div id="menuToggle">
      
          <!-- <input type="checkbox"  /> -->
          
       
       
          <!-- <span></span> -->
          

          <ul id="menu" style="text-align: center;" *ngIf="isMenuActive" >
             <a>
                 <li>
                    <i class="fas fa-times" (click)="toggleMenu('close')" 
                    *ngIf="isMenuActive" 
                    style="font-size: 2rem; cursor: pointer;"></i>
                 </li>
             </a>
        

            <a [routerLink]="[ '/home' ]" 
                routerLinkActive = 'active-for-mobile '
                (click)="toggleMenu('close')"
                >
                <li>HOME</li>
            </a>
            <a [routerLink]="[ '/news' ]" 
                routerLinkActive = 'active-for-mobile '
                (click)="toggleMenu('close')">
                <li>NEWS</li>
            </a>
            <a [routerLink]="[ '/politics' ]" 
                routerLinkActive = 'active-for-mobile '
                (click)="toggleMenu('close')">
                <li>POLITICS</li>
            </a>
            <a [routerLink]="[ '/culutre-lifystyle' ]" 
                routerLinkActive = 'active-for-mobile '
                (click)="toggleMenu('close')">
                <li>CULTURE</li>
            </a>
            <a [routerLink]="[ '/economy' ]" 
                routerLinkActive = 'active-for-mobile '
                (click)="toggleMenu('close')">    
                <li>ECONOMY</li>
            </a>
            <a [routerLink]="[ '/contact' ]" 
                routerLinkActive = 'active-for-mobile '
                (click)="toggleMenu('close')" >
                <li>CONTACT</li>
            </a>
            
          </ul>
        </div>
      </nav>
        
    </div>

</div>




