<div class="main-navigation pt-2 pb-2 row">
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
    </div>
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/news' ]" routerLinkActive="active" >News</a>
    </div>
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/politics' ]" routerLinkActive="active">Politics</a>
    </div>
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/culutre-lifystyle' ]" routerLinkActive="active">Culture & Lifestyle</a>
    </div>
    <div class="main-navigation__item col-md-2" style="text-align: center;">
        <a [routerLink]="[ '/economy' ]" routerLinkActive="active" >Economy</a>
    </div>
    <div class="main-navigation__item col-md-2">
        <a [routerLink]="[ '/contact' ]" routerLinkActive="active" >Contact</a>
    </div>  
    
<div class="nav" style="z-index: 69;">
    <nav role="navigation" style = " 
                                    position: absolute;
                                    top: -37px;" >
        <div id="menuToggle">
      
          <input type="checkbox" />
          
       
          <span></span>
          <span></span>
          <span></span>
          

          <ul id="menu" style="text-align: center;" >
            
            <a [routerLink]="[ '/home' ]">
                <li>HOME</li>
            </a>
            <a [routerLink]="[ '/news' ]">
                <li>NEWS</li>
            </a>
            <a [routerLink]="[ '/headlines' ]">
                <li>POLITICS</li>
            </a>
            <a [routerLink]="[ '/headlines' ]">
                <li>Culture & Lifestyle</li>
            </a>
            <a [routerLink]="[ '/headlines' ]">    
                <li>ECONOMY</li>
            </a>
            <a [routerLink]="[ '/about-us' ]">
                <li>ABOUT-US</li>
            </a>
            <a [routerLink]="[ '/advertisement' ]">
                <li>SUBSCRIBE</li>
            </a>
            <a [routerLink]="[ '/contact' ]" >
                <li>CONTACT</li>
            </a>
            
          </ul>
        </div>
      </nav>
        
    </div>

</div>




