<div class="news row" *ngIf=" allEconomy.length > 0 else showLoad">
    <div class="col-md-12"  >
        <div class="main p-2 row" >
            <div class="col-12 mt-3" *ngFor="let item of allEconomy; first as isFirst" [ngClass]="{'mt-3': isFirst, 'mt-5': !isFirst}">
                <div class="main__title col-12" >
                    <h4 (click)="routeToEconomyDetails(item._id)"> {{ item.title }} </h4>  
                </div>
                <div class="main__social mt-2 col-12 d-flex justify-content-between">
                    <div class="col-md-9 p-0">
                        <span> {{ item.date }} </span>
                    </div>
                    <div class="col-md-3  d-flex justify-content-end pr-0">
                        <!-- <i class="fab fa-twitter"></i> -->
                        <!-- <i class="fab fa-linkedin-in"></i>   -->
                        <!-- <fb-like [url]="'http://167.172.172.153:8080/#/economy/' + item._id" ></fb-like> -->
                        <button class="facebook" ceiboShare  
                            [facebook] = "{u: 'http://167.172.172.153:8080/#/economy/' + item._id}">
                            <img class="img" style="vertical-align:middle" src="https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/jydh1rvUVNm.png" alt="" width="12" height="12">
                            <span>Share</span> 
                         </button>
                        <!-- <i class="fab fa-instagram"></i> -->
                    </div>   
                </div>
                <div>
                    <div class="row align-items-center">
                        <div class="main__image mt-3 d-flex justify-content-center col-lg-6" >
                            <div class="main__image__content" 
                                (click)="routeToEconomyDetails(item._id)" style="cursor: pointer;">
                                <img *ngIf="item.file.path"
                                    appLazyLoad
                                     [src]="item.file.path">
                               
                            
                            </div>
                        </div>
                    
                        <div class="main__description mt-4 col-lg-6 main__description" 
                            (click)="routeToEconomyDetails(item._id)" style="cursor: pointer;">
                            <p> {{item.description  | slice:0:1000 }} </p>
                        </div>

                    </div>
            
                </div>
            </div>
        </div>
    </div>
</div>   

