<div class="ads p-0 mt-4">
    <div class="ads__img col-12 p-0">
        <div class="ads__img__content">
            <img src="assets/image/2.png" alt="">
        </div>
    </div>
    <div class="ads__description p-3">
        <h4>Title</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Cum neque nam tenetur nostrum debitis voluptatem 
            ratione natus ea, quod deleniti suscipit vero. 
            Iure, praesentium ipsam.
             Blanditiis praesentium quos corporis aliquid?</p>
    </div>
</div>