<div class="news row" *ngIf="economies.length > 0">
    <div class="col-md-12"  >
        <div class="main p-2 row" >
            <div class="col-12" *ngFor="let item of economies; first as isFirst">
                <div class="main__title col-12" >
                    <h4 style="cursor: auto;"> {{ item.title }} </h4>  
                </div>
                <div class="main__social mt-2 col-12 d-flex justify-content-between">
                    <div class="col-md-9 p-0">
                        <span> {{ item.date }} </span>
                    </div>
                    <div class="col-md-3  d-flex justify-content-between">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>  
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                    </div>   
                </div>
                <div>
                    <div class="row align-items-center">
                        <div class="main__image mt-3 d-flex justify-content-center col-lg-6" >
                            <div class="main__image__content">
                                <img *ngIf="item.file.path"
                                     [src]="item.file.path">
                               
                            
                            </div>
                        </div>
                    
                        <div class="main__description mt-4 col-lg-6 main__description">
                            <p> {{item.description  }} </p>
                        </div>

                    </div>
            
                </div>
            </div>
        </div>
    </div>
</div>   
