<div class="footer">
    <div class="contrainer h-100">
        <div class="row h-100 justyfy-content-between align-items-center">
            <div class="col-5 h-100 d-flex align-items-center justify-content-center">
                <p class="mt-3">© COPYRIGHT 2020</p>
            </div>
            <div class="col-6 d-flex justify-content-end d-flex align-items-center h-100" >
                <p class="mt-3">CREATED BY</p>
                <div class="image ml-3">
                    <a href="http://webuko.ge/">
                        <img src="assets/image/webuko.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
