@import 'src/assets/variables'; 

.home {
    &__content {

        &__headline {
            background-color: $grey;
            border-radius: .5rem;
        }

        &__main {
            display: flex;
            div {

                border-top: 2px solid $grey;
            }

        }

    }
}



