.admin-navingation {
    // height: 100%;
    background-color: #363740;
}; 

.main-content {
    min-height: 100%;
}


#navigation {
    
    @media (max-width: 992px) {
       
      
        top: 0;
    }
}

