<ng-container *ngIf="isAdminActive; else showApp">
  <div class="container-fluid h-100" style="min-height: 100vh;">
    <div class="row h-100" style="min-height: 100vh;">
      <div class="admin-navingation col-lg-3">
        <app-admin-navigation></app-admin-navigation>
    </div>
    <div class="admin-content pb-5 col-lg-9 mt-5 h-100" >
        <app-admin-panel ></app-admin-panel>
    </div>
    </div>
  </div>
</ng-container>

<ng-template #showApp>
  <div class="container pb-5" *ngIf="!isAdminActive" style="min-height: 100vh;">
    <div class="row">
      <!-- * * * Search * *  -->
      <div class="col-md-12 mt-3">
        <app-search></app-search>
      </div>
      <!-- * * * Main Header with Logo * *  -->
      <div class="col-md-12 mt-3">
        <app-header></app-header>
      </div>
        <!-- * * * Navigation * *  -->
      <div class="col-md-12">
        <app-navigation></app-navigation>
      </div>
     
      <!-- * * * Router Content * * *  -->
      <div class="main-content col-12 mt-3 p-0 pb-5" [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet" ></router-outlet>
      </div>
    </div>
  </div>
</ng-template>


 <!-- * * * Footer * * * -->
 <!-- <div class="footer w-100" >
  <app-footer></app-footer>
</div> -->