
<div class="row news">
    <div class="news__title col-12 d-flex justify-content-center mt-3" style="background-color: cadetblue;">
        <a [routerLink]="['/admin/remove-news']" routerLinkActive="router-link-active" >
            <button class="large button"> Remove News </button>
        </a>
    </div>
 
    <div class="news__title col-12 d-flex justify-content-center mt-3" style="background-color: cadetblue;">
        <a [routerLink]="['/admin/remove-politics']" routerLinkActive="router-link-active" >
            <button class="large button"> Remove Politics </button>
        </a>
    </div>
 
    <div class="news__title col-12 d-flex justify-content-center mt-3" style="background-color: cadetblue;">
        <a [routerLink]="['/admin/remove-culture']" routerLinkActive="router-link-active" >
            <button class="large button"> Remove Culture & Lifestyles </button>
        </a>
    </div>
 
    <div class="news__title col-12 d-flex justify-content-center mt-3" style="background-color: cadetblue;">
        <a [routerLink]="['/admin/remove-economy']" routerLinkActive="router-link-active" >
            <button class="large button"> Remove Economy </button>
        </a>
    </div>

</div>   