<div class="news row">
    <div class="col-md-12" *ngIf="allNews.length > 0 " [ngClass]="{'news__content': router.url === '/news'}">
        <div class="main p-2 row" >
            <div class="col-12" *ngFor="let item of allNews; first as isFirst" 
                                [ngClass]="{'mt-3': isFirst && router.url === '/news', 'mt-5': !isFirst && router.url === '/news'}">
                <div class="main__title col-12" >
                    <h4 (click)="routeToNewsDetails(item._id)"> {{ item.title }} </h4>
                </div>
                <div class="main__social mt-2 col-12 d-flex justify-content-between">
                    <div class="col-md-9 p-0">
                        <span> {{ item.date }} </span>
                    </div>
                    <div class="col-md-3  d-flex justify-content-between">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>  
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                    </div>   
                </div>
                <div [ngClass]="{'row align-items-center': router.url === '/news'}">
                    <div class="main__image mt-3 d-flex justify-content-center" 
                         [ngClass]="{'col-lg-6 main__image mt-3 d-flex justify-content-center': router.url === '/news'}">
                        <div class="main__image__content">
                            <!-- <img *ngIf="item.file.path"
                                 [src]="item.file.path"
                                 [ngClass]="{'border-radius': router.url === '/news'}"> -->
                            
                            <img  src="assets/image/placeHolder.png"
                                  [ngClass]="{'border-radius': router.url === '/news'}">
                        </div>
                    </div>
                
                    <div class="main__description mt-4"
                         [ngClass]="{'col-lg-6 main__description': router.url === '/news'}">
                         <div class="">
                            <p *ngIf="router.url === '/home'"> {{item.description | slice:0:150  }} </p>
                            <p *ngIf="router.url === '/home'"  
                                style = 'cursor: pointer; color: #de1e26;' 
                                (click)="routeToNewsDetails(item._id)"> See more 
                            </p>
                        </div>
                        <p *ngIf="router.url !== '/home'"> {{item.description   }} </p>

                    </div>
            
                </div>
            </div>
        </div>
    </div>
    <ng-template #showLoad>
        <h1>Loading...</h1>
    </ng-template>
    
</div>   
