<div class="news row">
    <div class="col-md-12" *ngIf="allNews.length > 0 " [ngClass]="{'news__content': router.url === '/news'}">
        <div class="main p-2 row" >
            <div class="col-12" *ngFor="let item of allNews; first as isFirst" 
                                [ngClass]="{'mt-3': isFirst && router.url === '/news', 'mt-5': !isFirst && router.url === '/news'}">
                <div class="main__title col-12" >
                    <h4 (click)="routeToNewsDetails(item._id)"> {{ item.title }} </h4>
                </div>
                <div class="main__social mt-2 mb-2 col-12 d-flex justify-content-between pr-0">
                    <div class="col-md-9 p-0">
                        <span> {{ item.date }} </span>
                    </div>
                    <div class="col-md-3  d-flex justify-content-end pr-0" id="social">
                        <!-- <i class="fab fa-twitter"></i> -->
                        <!-- <i class="fab fa-linkedin-in"></i>   -->
                        <!-- <i class="fab fa-facebook-f"></i> -->
                        <fb-like appLazyLoad [url]="'http://167.172.172.153:8080/#/news/' + item._id" ></fb-like>
                        <!-- <i class="fab fa-instagram"></i>    -->
                    </div>   
                </div>
                <div [ngClass]="{'row align-items-center': router.url === '/news'}">
                    <div class="main__image mt-3 d-flex justify-content-center" 
                         [ngClass]="{'col-lg-6 main__image mt-3 d-flex justify-content-center': router.url === '/news'}"
                         (click)="routeToNewsDetails(item._id)" style="cursor: pointer;">
                        <div class="main__image__content">
                            <img *ngIf="item.file.path"
                                 appLazyLoad
                                 [src]="item.file.path"
                                 [ngClass]="{'border-radius': router.url === '/news'}">
                           
                        
                        </div>
                    </div>
                
                    <div class="main__description mt-4"
                         [ngClass]="{'col-lg-6 main__description': router.url === '/news'}"
                         (click)="routeToNewsDetails(item._id)" style="cursor: pointer;">
                         <div class="">
                            <p *ngIf="router.url === '/home'"> {{item.description | slice:0:150  }} </p>
                            <p *ngIf="router.url === '/home'"  
                                style = 'cursor: pointer; color: #de1e26;' 
                                (click)="routeToNewsDetails(item._id)"> See more 
                            </p>
                        </div>
                        <p *ngIf="router.url === '/news'"> {{ item.description | slice:0:1000   }} </p>

                    </div>
            
                </div>
            </div>
            <div class="main__buttons col-12 d-flex justify-content-center" *ngIf="isShowAllNewsActive">
                <button class="large button" (click)="navigateRouteToNews()">Show all news</button>
            </div>
        </div>
    </div>
    <ng-template #showLoad>
        <h1>Loading...</h1>
    </ng-template>
    
</div>   
