<div class="add-news" *ngIf="!isFormSubmited; else showFormSubmitted">
    <form action="" [formGroup]="adsFrom"  (ngSubmit)="onSubmit()">
        <div class="col-12 mt-3">
            <input type="text" class="input-group-text" placeholder="Link" formControlName="linkPath">
        </div>
        <div class="col-12 mt-3 d-flex">
            <input type="file" 
                   (change) = 'onFileUpload($event.target.files)'
                   style="outline: none;">
                <span *ngIf="showErr" style="color: red;">Please only .png .jpeg type Image formats</span>
        </div>  
        <div class="col-12 button-submit mt-4">
            <button type="submit" class="btn btn-dark btn-lg">Add ADS</button>
        </div>
    </form>
</div>

<ng-template #showFormSubmitted>  
    <div class="submit-again">
        <h1>Form Submitted</h1>
        <button (click)="submitFormAgain()" class="btn btn-primary">Add another ADS</button>
    </div>
</ng-template>
