<div class="admin-navigation">
    <div class="col-12">
        <h1>Admin panel</h1>
    </div>
    <div class="col-12 mt-5">
        <a [routerLink]="[ '/admin/add-news' ]" routerLinkActive="active">Add News</a>
    </div>
    <div class="col-12 mt-3">
        <a [routerLink]="[ '/admin/add-headlines' ]" routerLinkActive="active">Add Headlines</a>
    </div>
    <div class="col-12 mt-3">
        <a [routerLink]="[ '/admin/all-news' ]" routerLinkActive="active">News</a>
    </div>
    <div class="col-12 mt-3">
        <a [routerLink]="[ '/admin/all-headlines' ]" routerLinkActive="active">Headlines</a>
    </div>
</div>
