<div class="admin-navigation">
    <div class="col-12">
        <h1>Admin panel</h1>
    </div>
    <div class="col-12 mt-5">
        <a [routerLink]="[ '/admin/add-headlines' ]" routerLinkActive="active">Add-Headlines</a>
    </div>
    <div class="col-12 mt-3">
        <a [routerLink]="[ '/admin/add-politics' ]" routerLinkActive="active">Add Politics</a>
    </div>
    <div class="col-12 mt-3">
        <a [routerLink]="[ '/admin/add-culture' ]" routerLinkActive="active">Add Culture & Lifestyle</a>
    </div>
    <div class="col-12 mt-3">
        <a [routerLink]="[ '/admin/add-economy' ]" routerLinkActive="active">Add Economy</a>
    </div>  
    <div class="col-12 mt-5">
        <a [routerLink]="[ '/admin/all-news' ]" routerLinkActive="active">Remove News</a>
    </div>
    <div class="col-12 mt-3">
        <a [routerLink]="[ '/admin/all-headlines' ]" routerLinkActive="active">Remove Headlines</a>
    </div>
</div>
