<div class="container">
 <div class="row">
   <!-- * * * Search * *  -->
   <div class="col-md-12 mt-3">
     <app-search></app-search>
   </div>
   <!-- * * * Main Header with Logo * *  -->
   <div class="col-md-12 mt-3">
     <app-header></app-header>
   </div>
    <!-- * * * Navigation * *  -->
   <div class="col-md-12">
     <app-navigation></app-navigation>
   </div>

   <!-- * * * Router Content * * *  -->
   <div class="col-md-12 mt-3 p-0">
     <router-outlet></router-outlet>
   </div>
   
 </div>
</div>