<ng-container *ngIf="isAdminActive; else showApp">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="admin-navingation col-md-3">
        <app-admin-navigation></app-admin-navigation>
    </div>
    <div class="content col-md-9 mt-5">
        <app-admin-panel ></app-admin-panel>
    </div>
    </div>
  </div>
</ng-container>

<ng-template #showApp>
  <div class="container" *ngIf="!isAdminActive">
   <div class="row">
     <!-- * * * Search * *  -->
     <div class="col-md-12 mt-3">
       <app-search></app-search>
     </div>
     <!-- * * * Main Header with Logo * *  -->
     <div class="col-md-12 mt-3">
       <app-header></app-header>
     </div>
      <!-- * * * Navigation * *  -->
     <div class="col-md-12">
       <app-navigation></app-navigation>
     </div>
  
     <!-- * * * Router Content * * *  -->
     <div class="col-12 mt-3 p-0 pb-5" [@routeAnimations]="prepareRoute(outlet)">
       <router-outlet #outlet="outlet" ></router-outlet>
     </div>
   </div>
  </div>
  
  <!-- * * * Footer * * * -->
  <!-- <div class="footer col-12" style="background-color: black;">
    <app-footer></app-footer>
  </div> -->
</ng-template>