<div class="add-headlines" *ngIf="!isFormSubmitted; else showSubmitted">
    <form action="" [formGroup]="headlinesForm"  (ngSubmit)="onSubmit()">
        <div class="col-12 mt-3">
            <input type="text" class="input-group-text" placeholder="title" formControlName="title">
        </div>
        <div class="col-12 mt-3">
            <textarea formControlName="description" 
                        class="input-group-text" 
                        placeholder="description" 
                        cols="50" 
                        rows="10"
                        style="text-align: start;">
            </textarea>
        </div>
        <div class="col-12 mt-3">  
            <input type="text" class="input-group-text" placeholder="dd/mm/yy" formControlName="date">
        </div>
        <div class="col-12 mt-3 d-flex">
            <input type="file" 
                   (change)="onFileUpload($event.target.files)">
                   <span *ngIf="showErr" style="color: red;">Please only .png .jpeg type Image formats</span>
        </div>
        <div class="col-12 mt-4 button-submit">
            <button type="submit" class="btn btn-dark btn-lg">Add Headlines</button>
        </div>
    </form>
</div>

<ng-template #showSubmitted>
    <div class="submited">
        <h1>Submited</h1>
        <button (click)="submitFormAgain()" class="btn btn-primary">Add another Headline</button>
    </div>
</ng-template>
