<div class="headlines p-3'" *ngIf="headlineData.file">
            <div class="col-12 headlines-title mt-3">
                <h4>{{ headlineData.title }}</h4>
            </div>
            <div class="headlines__content col-md-12">
                <div class="popular row p-3 mb-5" >
                    <div class="mt-3">
                        <div class="popular__title col-12">
                            <span> {{ headlineData.date }} </span>
                        </div>
                        <div class="popular__img col-12 mt-3 d-flex justify-content-center">
                            <div class ="popular__img__content">
                                <img [src]="'http://localhost:3000/' + headlineData.file.path" alt="">
                            </div>
                        </div>
                        <div class="popular__description mt-4 col-12">
                            <h4 style="cursor: unset;"> {{ headlineData.title }}  </h4>
                            <span> {{ headlineData.description }} </span>
                        </div>
                    </div>
                </div>
          </div>
    </div>