<div class="header row">
    <div class="header__headline col-xl-3">
        <div class="">
            <p>The Messenger</p>
        </div>
        <div class="">
            <span>Georgia's leading English language daily newspaper !</span>
        </div>
    </div>
    <div class="header__image col-xl-6 d-flex justify-content-center align-items-center">
        <!-- <img src="assets/image/logo1.png" alt="image"> -->
        <h4 class="red">The</h4>
        <h4>Messenger</h4>
    </div>
    <div class="header__follow col-xl-3 mb-3">  
        <div class="">
            <p>Follow</p>
        </div>
        <div class="d-flex">
            <a class="social">Twitter</a>
            <span>-</span>
            <a class="social" href="https://www.facebook.com/Thegeorgianmessenger/" target="_blank">Facebook</a>
            <span>-</span>
            <a class="social">Instagram</a>
        </div>
    </div>
</div>
