<div class="news row" *ngIf="cultures.length > 0">
    <div class="col-md-12"  >
        <div class="main p-2 row" >
            <div class="col-12" *ngFor="let item of cultures; first as isFirst">
                <div class="main__title col-12" >
                    <h4 style="cursor: auto;"> {{ item.title }} </h4>  
                </div>
                <div class="main__social mt-2 col-12 d-flex justify-content-between">
                    <div class="col-md-9 p-0">
                        <span> {{ item.date }} </span>
                    </div>
                    <div class="col-md-3  d-flex justify-content-end">
                        <!-- <i class="fab fa-twitter"></i> -->
                        <!-- <i class="fab fa-linkedin-in"></i>   -->
                        <!-- <fb-like [url]="'http://167.172.172.153:8080/#/culutre-lifystyle/' + item._id" ></fb-like> -->
                        <!-- <button class="facebook" ceiboShare  
                            [facebook] = "{u: 'http://167.172.172.153:8080/#/culutre-lifystyle/' + item._id}">
                            <img class="img" style="vertical-align:middle" src="https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/jydh1rvUVNm.png" alt="" width="12" height="12">
                            <span>Share</span> 
                        </button> -->
                        <!-- <i class="fab fa-instagram"></i> -->
                    </div>   
                </div>
                <div>
                    <div class="row align-items-center">
                        <div class="main__image mt-3 d-flex justify-content-center col-lg-12" >
                            <div class="main__image__content">
                                <img *ngIf="item.file.path"
                                     [src]="item.file.path">
                               
                            
                            </div>
                        </div>
                    
                        <div class="main__description mt-4 col-lg-12 main__description">
                            <p> {{item.description  }} </p>
                        </div>

                    </div>
            
                </div>
            </div>
        </div>
    </div>
</div>   
