<div class="slider__valute p-0 mt-3 p-2" >
    
    <div class="slider__valute__item col-12 d-flex justify-content-around">
      <div class="slider__valute__item__image">
        <img src="assets/image/usa.svg" alt="">
      </div>
      <p>USD: </p>
      <p> {{ USD + ' GEL' }} </p>
    </div>

    <div class="slider__valute__item col-12 d-flex justify-content-around">
      <div class="slider__valute__item__image">
        <img src="assets/image/euro.svg" alt="">
      </div>
      <p>EUR: </p>
      <p> {{ EURO + ' GEL' }} </p>
    </div>

    <div class="slider__valute__item col-12 d-flex justify-content-around">
      <div class="slider__valute__item__image">
        <img src="assets/image/uk.svg" alt="">
      </div>
      <p>GBP: </p>
      <p> {{ GBP + ' GEL' }} </p>
    </div>

    <div class="slider__valute__item col-12 d-flex justify-content-around">
      <div class="slider__valute__item__image">
        <img src="assets/image/rus.svg" alt="">
      </div>
      <p>RUB: </p>
      <p> {{ RUB + ' GEL' }} </p>
    </div>

  </div>