img {
    width: 100%;
    height: 15rem;
    border: 1px solid transparent;
    border: .5rem;
   
}


.slider {


    &__valute {
        background-color: #e8e8e8;
        border: 2px solid transparent;
        border-radius: .5rem;


        p {
            // font-weight: bold;
            font-family: "Lora", serif;
            font-size: .775rem;
            font-weight: normal;
            color: #777777;

        }

        &__item {
            align-items: baseline;
            &__image {
                width: 1.5rem;
                height: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                }

                p {
                    font-size: .3rem;
                }
            }
        }
    }
}
