<div class="contact row p-3">
    <div class="contact__title col-md-12">
        <h1>Contact</h1>
    </div>
    <div class="contact__img col-md-6 mt-5">
        <div class="contact__img__content">
            <img src="assets/image/contact.svg" alt="conact">
        </div>
    </div>
    <div class="col-md-6 contact__description mt-5">
       <div class="contact__description__title col-12">
           <p>We welcome questions and comments. 
            The paper can be purchased directly at the editorial offices or found at select stores in Tbilisi.
            </p>
       </div>
       <div class="contact__description__contact col-md-12">
            <div class="contact__description__contact__email col-12 d-flex">
                <i class="fas fa-phone-alt"></i>
                <p>Phone: </p>
                <div class="d-block">
                    <span class="pr-2">(+995) 599 501452;</span>
                    <span class="pr-2">(+995) 599 565621;</span>
                    <span>(+995) 599 710809</span>
                </div>
            </div>
            <div class="contact__description__contact__email col-12 d-flex">
                <i class="fas fa-location-arrow"></i>
                <p>Location: </p>
                <span>43 Belinski Street, Tbilisi, Georgia</span>
            </div>
            <div class="contact__description__contact__email col-12 d-flex">
                <i class="fas fa-envelope"></i>
                <p>Email: </p>
                <span>messenger@messenger.com.ge</span>
            </div>
       </div>
    </div>
</div>