@import 'src/assets/variables'; 

.contact {
    background-color: $grey;
    border-radius: .5rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, .7);
    border: 2px solid $black;
    border-radius: .5rem;

    &__title {
        h1 {
            text-align: center;
            font-family: 'Lora', serif;
            border-bottom: 2px solid $black;
            padding-bottom: .5rem;
        }
    }

    &__img {
        &__content {
            width: 35rem;
            height: 15rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__description  {
        &__title {
            p {
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
                font-weight: bold;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid $dark-grey;

            }
        }
        &__contact {
            margin-top: 2rem;
            &__email {
                
                text-align: center;
                margin-top: 1rem;
                i {
                    font-size: 1.3rem;
                    color: $red;
                    margin-right: .6rem;
                    text-align: center;
                    margin-top: .2rem;

                }
                p {
                    color: $red;
                    font-weight: bolder;
                    margin-right: .5rem;
                    font-size: 1rem;
                }
                span {
                    font-size: .875rem;
                    text-align: left;
                    line-height: 1.5rem;
                    // font-weight: bolder;
                }
            }
        }
    }
}

button {
    background-color: $red !important;
    color: white !important;
}