<div class="search row justify-content-between pb-2">
    <div class="search__box col-md-4 d-flex">
        <div class="col">
            <a [routerLink]="[ '/about-us' ]">ABOUT US</a>
        </div>
        <div class="col">
            <a [routerLink]="[ '/advertisement' ]">ADVERTISE</a>
        </div>
        <div class="col">
            <a [routerLink]="[ '/contact' ]">CONTACT US</a>
        </div>
    </div>   

    <div class="search__box col-md-4 d-flex justify-content-center align-items-center">
        <span> {{ currentDate }} </span>
    </div>

    <div class="search__box col-md-4 d-flex justify-content-end align-items-center">
        <div *ngIf="isInputActive" class="">
            <input type="text" class="form-control">
        </div>
        <i class="fas fa-search ml-2" (click)="toggleInput()"></i>
    </div>
</div>