@import 'src/assets/variables'; 

.search {
    &__box {
        a {
            font-size: .675rem;
            cursor: pointer;
            font-weight: bold;
            margin: 0;
            white-space: nowrap;
            text-decoration: none;
            color: $dark-grey;
           
        }
        span {
            font-size: .875rem;
            white-space: nowrap;
            color: $dark-grey;
            font-weight: bold;

        }

        input {
            height: 1.3rem;

            &:focus {
                border-color: rgba(192, 13, 22, 0.25);
                box-shadow: 0 0 0 0.2rem rgba(192, 13, 22, 0.25);
            }
        }

        i {
            cursor: pointer;
            font-size: .875rem;
        }

        @media (max-width: 768px ) {
            margin-top: 1rem;
        }

    }
    border-bottom: 1px solid $grey;
}