<div class="col-12 p-0 mt-4">
    <div class="ads__img col-12 p-0">
        <div class="ads__img__content">
            <img src="assets/image/adv.svg" alt="">
        </div>
    </div>
    <div class="ads__description mt-3 p-3">
        <h4>Advertise</h4>
        <p>For a price sheet of advertising rates, please contact 
        </p>
    <div class="col-md-12 contact__button d-flex justify-content-center">
        <a [routerLink]="[ '/contact' ]">
            <button class="large button">
                Contact us
            </button>
        </a> 
    </div>
    </div>
</div>