<div class="container">
    <div class="row">
        <div class="side-right col-md-4">
            <div class="col-12">
                <a [routerLink]="[ 'add-news' ]">Add News</a>
            </div>
            <div class="col-12">
                <a [routerLink]="[ 'add-headlines' ]">Add Headlines</a>
            </div>
            <div class="col-12">
                <a [routerLink]="[ 'all-news' ]">News</a>
            </div>
            <div class="col-12">
                <a [routerLink]="[ 'all-headlines' ]">Headlines</a>
            </div>
        </div>
        <div class="content col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>