<div class="add-news">
    <form action="" [formGroup]="newsForm"  (ngSubmit)="onSubmit(newsForm)">
        <div class="col-12">
            <input type="text" class="formcontrol" placeholder="title" formControlName="title">
        </div>
        <div class="col-12">
            <input type="text" class="formcontrol" placeholder="description" formControlName="description">
        </div>
        <div class="col-12">
            <input type="text" class="formcontrol" placeholder="date" formControlName="date">
        </div>
        <div class="col-12">
            <input type="file" name="" id="">
        </div>
        <div class="col-12 button-submit">
            <button type="submit">Add news</button>
        </div>
    </form>
</div>