<!-- <div class="row"> -->
    <ng-container *ngIf="allHeadlines.length > 0" >
        <div [ngClass]="{'headlines p-3': router.url === '/headlines'}">
            <div class="col-12 headlines-title mt-3">
                <h4>Headlines</h4>
            </div>
            <div class="headlines__content col-md-12">
                <div class="popular row p-3 mb-5" >
                    <div class="mt-3"*ngFor="let item of allHeadlines">
                        <div class="popular__title col-12">
                            <span> {{ item.date }} </span>
                        </div>
                        <div class="popular__img col-12 mt-3 d-flex justify-content-center" >
                            <div [ngClass]="{'popular__img__content': router.url === '/headlines', 
                                             'content-on-main' :   router.url !== '/headlines'}">
                                <!-- <img *ngIf="item.file.path" [src]="item.file.path" alt="img"> -->
                                <img src="assets/image/placeHolder.png" alt="img">
                            </div>
                        </div>
                        <div class="popular__description mt-4 col-12">
                            <h4 (click)="routeToHeadlineDetails(item._id)" *ngIf="router.url === '/home'">{{ item.title }}</h4>
                            <h4 (click)="routeToHeadlineDetails(item._id)" 
                                style="font-size: 1.4rem;" 
                                *ngIf="router.url !== '/home'"
                                 >
                                 {{ item.title }}
                            </h4>
                            <div class="">
                                <p *ngIf="router.url === '/home'"> {{item.description | slice:0:120  }} </p>
                                <p *ngIf="router.url === '/home'"  
                                    style = 'cursor: pointer; color: #de1e26;' 
                                    (click)="routeToHeadlineDetails(item._id)"> See more 
                                </p>
                            </div>
                            <p *ngIf="router.url !== '/home'"> {{ item.description  }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    
<!-- </div> -->
